<div id="layoutError">
    <div id="layoutError_content">
        <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="text-center mt-4">
                            <img class="mb-4 img-error" src="~/assets/img/error-404-monochrome.svg" alt="404" />
                            <p class="lead">Trang bạn tìm kiếm hiện không tồn tại hoặc đã bị xóa</p>
                            <a href="/">
                                <i class="fas fa-arrow-left mr-1"></i>
                                Quay về trang chủ
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    
</div>
