@{
    Layout = "_AuthLayout";
    ViewBag.Title = "Về Chúng Tôi";
    ViewBag.Url = "http://teyvatcafe.somee.com/";
}
<div class="container-fluid">
    <h1 class="mt-4">GIỚI THIỆU</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
        <li class="breadcrumb-item active">VỀ CHÚNG TÔI</li>
    </ol>
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4 text-center">
            <div class="openning"></div>
            <h2><b>VỀ CHÚNG TÔI</b></h2>
            <div class="Middle"></div>
            <p class="canhthanbai text-left">
                Thân gửi những người bạn cà phê,<br /><br />

                Chúng tôi xin trân trọng giới thiệu với các bạn là những người yêu và đam mê cà phê, sành cà phê về  <a href="@ViewBag.Url">TeyVat Cafe </a><br /><br />

                Đây là không gian on-line chuyên cà phê, một Thế giới cà phê thú vị nhất mà bạn có thể tìm thấy cho riêng mình những gói cà phê tuyệt hảo – năng lượng sáng tạo để thành công, có đầy đủ các loại từ cà phê Chồn – cà phê dành cho nguyên thủ của Trung Nguyên cho đến cà phê rang xay pha phin đặc sản Việt Nam. Bạn sẽ được chu du các kiểu cà phê thế giới với cà phê espresso đến cappuccino, từ cà phê pha máy classic đến cà phê hòa tan G7 đang vang danh 60 quốc gia toàn cầu. Và còn nhiều nữa những nhãn hiệu cà phê đích thực từ bốn phương cùng tụ hội hứa hẹn mang đến cho bạn những trải nghiệm lý thú. Chỉ bằng 01 cú “Click” chuột trên máy tính, smart phone, chúng tôi sẽ gửi đến bạn những gói cà phê mà bạn chọn lựa.<br /><br />

                Bạn muốn khám phá và chia sẻ những trải nghiệm thực tế về cà phê? Bạn sẽ tìm thấy tại Hãy vào <a href="@ViewBag.Url">TeyVat Cafe </a>  từ những món hàng nhỏ nhắn tinh xảo, những văn hóa phẩm cà phê cho đến những chuyến du lịch coffee tour về vùng đất thánh của cà phê Việt Nam tại Daklak, khám phá văn hóa đồng bào dân.<br /><br />

                Hãy vào <a href="@ViewBag.Url">TeyVat Cafe </a> .Tất cả thế giới phong phú huyền nhiệm của cà phê, chỉ bằng một cú lướt hoặc “click” chuột, một TeyVat Cafe đã trong tay bạn, giúp bạn có ngay những gì bạn muốn.<br /><br />

                Còn chờ gì nữa, là người sáng tạo, năng động, yêu cà phê, thành công với cà phê hãy cùng khám phá không gian duy nhất <br /><br />

                – Thế Giới Cà phê của bạn: <a href="@ViewBag.Url">TeyVat Cafe </a> <br /><br />

                Thân ái,<br /><br />

                TeyVat Cafe <br /><br />

                <b>Văn phòng:</b> 82-84 Bùi Thị Xuân, P.Bến Thành, Q.1, TP.HCM.<br />
                <b>Showroom:</b> 324-326 Long Tích Tuyết Sơn , MondStat.<br />
                <b>Đơn vị chủ quản:</b> Công ty Cổ phần Tập Đoàn TeyVat-Zhongli<br />
                <b>Điện thoại:</b> (84.8).XXXX.XXXX.<br />
                <b>ĐƯỜNG DÂY NÓNG:</b> 1900XXXXXXX<br />

            </p>
        </div>

    </div>
    </div>
