@{
    Layout = "_AuthLayout";

    ViewBag.Title = "Quên mật khẩu";
}


<div style="background-image: url(/img/icon/LoginBackground.jpg); background-size:cover" id="layoutAuthentication">
    <div id="layoutAuthentication_content">
        <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-5">
                        <div class="card shadow-lg border-0 rounded-lg mt-5">
                            <div class="card-header"><h3 style="font-size:40px;" class="text-center font-weight-light my-4" id="quenmatkhau"><b>QUÊN MẬT KHẨU</b></h3></div>
                            <div class="card-body">
                                <form method="post" id="fPassForm">
                                    <p class="text-center">Nhập email đã đăng kí của bạn. Một đường dẫn sẽ được gửi tới để bạn có thể làm mới mật khẩu</p>
                                    <div class="form-group" id="fPassForm">
                                        <label class="small mb-1" for="inputEmailAddress"><b>Email</b></label>
                                        <input class="form-control py-4" id="inputEmailAddress" type="email" placeholder="Nhập Email" name="email" />
                                    </div>


                                    <div class="form-group d-flex align-items-end justify-content-end mt-4 mb-0">
                                        <div></div>
                                        <button class="btn btn-primary">Lấy lại mật khẩu</button>

                                    </div>


                                </form>


                            </div>
                            <div class="form-group card-footer d-flex align-items-center justify-content-between mt-4 mb-0" style="font-size:larger">
                                <div class="small"><a href="/auth/login">Đăng nhập</a></div>
                                <div class="small"><a href="/auth/register">Đăng ký</a></div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
@section Scripts{
    <script>

        jQuery.validator.addMethod("domainEmail", function (value, element) {
            var filter = /^[a-zA-Z0-9.!#$%&'*+\/=?^_`{|}~-]+@@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])*(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)+(.)+$/.test(value);
            return this.optional(element) || filter
        })


        $().ready(function () {

            $("#fPassForm").validate({

                rules: {

                    email: {
                        required: true,
                        domainEmail: true,
                        maxlength: 64,
                        minlength: 6

                    },
                },
                messages: {

                    email: {
                        required: "Hãy nhập email",
                        domainEmail: "Hãy nhập đúng định dạng email",
                        email: "Hãy nhập đúng định dạng email",
                        maxlength: "Hãy nhập tối đa 64 ký tự",
                        minlength: "Hãy nhập tối thiểu 6 ký tự"


                    }
                },
                submitHandler: function (form) {
                    $.post('/auth/ForgotPassword', $(form).serialize(), (r) => {
                        switch (r) {

                            case 0:
                                alert('Bạn gửi email lấy lại mật khẩu quá sớm. Vui lòng chờ 5 phút');

                                break;
                            case 1:
                                alert('Một đường dẫn lấy lại mật khẩu đã gửi đến email bạn. Đường dẫn có hạn 15 phút. Bạn sẽ chuyển về trang chủ.');
                                window.location.href = "/";
                                break;
                            case -1:
                                alert('Không tồn tại email này, vui lòng kiểm tra lại email của bạn.');


                                break;
                            default:
                        }
                    })
                }
            });
        });

    </script>
}