@model AuthModel

@{
    Layout = "_AuthLayout";
    ViewBag.Title = "Đăng kí tài khoản";
}
<div class="container-fluid" style=" background-image: url(/img/icon/RegisterBackground.jpg); background-size: cover; ">
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">

            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-7">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-header"><h3 style="font-size:40px;" class="text-center font-weight-light my-4"><b>ĐĂNG KÝ</b></h3></div>
                                <div class="card-body">
                                    <form id="regForm">
                                        <div class="form-group">
                                            <label class="small mb-1" for="user"><b>Username</b></label>
                                            <input class="form-control py-4" id="user" name="UserName" type="text" placeholder="Điền vào username của bạn" asp-for="UserName" />
                                        </div>
                                        <div class="form-group">
                                            <label class="small mb-1" for="email"><b>Email</b></label>
                                            <input class="form-control py-4" id="email" type="email" name="email" aria-describedby="emailHelp" placeholder="Điền vào email của bạn" asp-for="Email" />
                                        </div>
                                        <div class="form-row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="small mb-1" for="password"><b>Mật khẩu</b></label>
                                                    <input class="form-control py-4" id="password" name="Pass" type="password" placeholder="Điền vào mật khẩu" asp-for="Pass" />
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="small mb-1" for="repassword"><b>Xác nhận mật khẩu</b></label>
                                                    <input class="form-control py-4" id="repassword" name="repassword" type="password" placeholder="Xác nhận mật khẩu" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group mt-4 mb-0">
                                            <button class="btn btn-primary" type="submit">Đăng kí</button>
                                        </div>
                                    </form>

                                </div>
                                <div style="font-family:georgia,garamond,serif;font-size:20px;font-style:italic;text-decoration:underline;" class="card-footer text-center">
                                    <div class="small"><a href="/auth/login">Đã có tài khoản? Đăng nhập ngay!</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>
@section Scripts{
    <script>

        jQuery.validator.addMethod("domainEmail", function (value, element) {
            var filter = /^[a-zA-Z0-9.!#$%&'*+\/=?^_`{|}~-]+@@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])*(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)+(.)+$/.test(value);
            return this.optional(element) || filter
        })
        jQuery.validator.addMethod("userRegEx", function (value, element) {
            var regex = /^[a-zA-Z0-9]{1,}$/g.test(value);
            return this.optional(element) || regex
        })

        $().ready(function () {

            $("#regForm").validate({

                rules: {
                    UserName: {
                        required: true,
                        userRegEx: true,
                        maxlength: 12,
                        minlength: 6
                    },
                    Pass: {
                        required: true,
                        minlength: 6,
                        maxlength: 24,

                    },
                    repassword: {
                        required: true,

                        equalTo: "#password",
                        minlength: 6,
                        maxlength: 24,

                    },
                    email: {
                        required: true,
                        domainEmail: true,
                        minlength: 10,
                        maxlength: 64,


                    },
                },
                messages: {
                    UserName: {
                        required: "Bắt buộc nhập username",
                        userRegEx: "Bắt đầu bằng chữ hoặc số và không có kí tự đặc biệt",

                        maxlength: "Hãy nhập tối đa 32 ký tự",
                        minlength: "Hãy nhập tối thiểu 6 ký tự"

                    },
                    Pass: {
                        required: "Bắt buộc nhập password",
                        minlength: "Hãy nhập ít nhất 6 ký tự",
                        maxlength: "Hãy nhập ít nhất 24 ký tự",

                    },
                    repassword: {
                        required: "Bắt buộc nhập lại password",

                        equalTo: "Hai password phải giống nhau",
                        minlength: "Hãy nhập ít nhất 6 ký tự",
                        maxlength: "Hãy nhập ít nhất 24 ký tự",

                    },
                    email: {
                        required: "Hãy nhập email",
                        domainEmail: "Hãy nhập đúng định dạng email",
                        email: "Hãy nhập đúng định dạng email",
                        maxlength: "Hãy nhập tối đa 64 ký tự",
                        minlength: "Hãy nhập tối thiểu 10 ký tự"

                    }
                },
                submitHandler: function (form) {
                    $.post('/auth/Register', $(form).serialize(), (r) => {
                        switch (r) {

                            case 0:
                                alert('Đăng kí không thành công.Trùng địa chỉ email. Vui lòng chọn email khác');

                                break;
                            case 1:
                                alert('Đăng kí thành công. Một email đã gửi đến email của bạn kèm đường dẫn xác thực. Đường dẫn sẽ tồn tại trong 15 phút');
                                window.location.href = "/";
                                break;
                            case -1:
                                alert('Đăng kí không thành công.Trùng địa chỉ username. Vui lòng chọn username khác');


                                break;
                            default:
                        }
                    })
                }
            });
        });

    </script>
}